.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.list {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.item {
  min-width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active {
  display: block;
}

.thumbnail {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
  scrollbar-width: none;
}

.thumbnail::-webkit-scrollbar {
  display: none;
}

.thumbnail .item {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
  min-width: 100px;
  height: 60px;
}

.thumbnail .item img {
  height: 100%;
  object-fit: cover;
}

.thumbnail .active {
  opacity: 1;
  border: 2px solid #000;
}

.sliderContainer {
  position: relative;
  overflow: hidden;
}

.textoSlider h4 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 25%;
  width: 100%;
  text-align: center;
  background-color: #f9f4e385;
  padding: 2rem;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #630000;
}

@media (max-width: 768px) {
  .slider {
    height: 400px;
  }
  
  .textoSlider h4 {
    font-size: 16px;
    padding: 1rem;
    height: 30%;
  }
  
  .thumbnail .item {
    min-width: 80px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .slider {
    height: 300px;
  }
  
  .textoSlider h4 {
    font-size: 14px;
    padding: 0.5rem;
    height: 35%;
  }
  
  .prev, .next {
    font-size: 1.5rem;
    padding: 5px 10px;
  }
}

@media (max-width: 430px) {
  .textoSlider h4{
    font-size: 10px;
  }
}
@media (max-width: 250px) {
  .textoSlider h4{
    font-size: 8px;
  }
}